@media screen and (min-width: 767.98px) {
  .top__img__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
  }
  .top__img__wrap img {
    width: 100%;
    height: 275px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .titre {
    display: flex;
    color: #101010;
    font-family: Shrikhand;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding: 0px;
    padding-top: 32px;
    padding-left: 0px;
    justify-content: center;
  }
  .titre__wrap {
    justify-content: center;
    align-items: baseline;
    gap: 30px;
  }
  .anim__coeur {
    transition: all 3s ease;
  }
  .anim__coeur:hover .img-icone-like {
    opacity: 1;
  }
  .anim__coeur:hover .img-icone-like-bas {
    opacity: 0;
  }
  .img-icone-like {
    top: 0%;
    right: 0%;
    border-radius: 0;
    opacity: 0;
    transition: opacity 1s ease;
    font-size: 25px;
  }
  .img-icone-like-bas {
    top: 0px;
    right: 0%;
    border-radius: 0;
    opacity: 1;
    transition: opacity 1s ease;
    font-size: 25px;
  }
  .sous__titre {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-self: normal;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 40px;
    border-bottom: 3px solid #99e2d0;
    width: 40px;
    margin-left: 16%;
    margin-bottom: 12px;
    padding-bottom: 5px;
  }
  .main__restaurant__bkg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .main__restaurant__bkg__wrap__card {
    z-index: 2;
    width: 70%;
  }
  .main__restaurant__bkg__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f6f6f6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
  }
  .section_entree,
  .section_plat,
  .section_dessert {
    width: 70%;
  }
  .footer__wrap {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: baseline;
  }
  .footer__wrap__textimg {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding-right: 20px;
  }
  .footer__wrap__textimg img {
    width: 11px;
    height: 13px;
    margin: 0px;
    padding: 0px;
  }
  .footer__wrap__textimg p {
    color: var(--White, #fff);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;
    padding: 0px;
  }
  .footer__wrap__textimg__wrap__ligne {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 11px;
         column-gap: 11px;
    align-items: baseline;
  }
  .footer__wrap h2 {
    color: #fff;
    font-family: Shrikhand;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
}/*# sourceMappingURL=desktop-restaurant.css.map */